.bc_white {
    background-color: #fff !important;
}

.fc_white {
    color: #ffffff;
}

.bc_black {
    background-color: #000000;
}

.bc_E5E5E5 {
    background-color: #E5E5E5;
}

.fc_black {
    color: #000000;
}

.fc_333333 {
    color: #333333;
}

.fc_666666 {
    color: #666666;
}

.bc_F34567 {
    background-color: #F34567;
}

.fc_F34567 {
    color: #F34567;
}

.fc_888888 {
    color: #888888;
}
.fc_DDAB5D{
    color:#DDAB5D
}


