//@import "common.css";
//html{font-size:16px};
.bg_white{
  background-color: #ffffff;
}

.bg_0BEBFF{
  background-color: #0BEBFF;
}
.bg_ECECEC{
  background-color: #ECECEC;
}
.bg_D4A867{
  background-color: #D4A867;
}
.fc_D4A867{
  color: #D4A867;
}
.fc_AF8357{
  color: #AF8357;
}
.bg_EDF5FF{
  background-color:#EDF5FF
}
.bg_F5F6FA{
  background-color:#F5F6FA
}
.full_screen{
  width: 100vw;
  min-height: 100vh;
}
.holder_place{
  padding-bottom: 12vw;
}

.van-stepper{
  background-color: #efefef !important;
  border-radius: 30px !important;
}
.van-stepper__input:disabled{
  background-color: transparent !important;
  color:#333333;
}
.van-stepper__minus--disabled, .van-stepper__plus--disabled {
  color: #ffffff !important;
  background-color: transparent !important;
  cursor: not-allowed;
}

.van-stepper__input{
  background-color: transparent !important;
  color:#000 !important;
}
.van-stepper__minus, .van-stepper__plus {
  color: #666666;
  background-color: transparent !important;
  cursor: not-allowed;
}
.choosed_item>div:last-child{
  width: 8vw;
  height: 2px;
  margin:  2vw auto 0 auto;
}

